<template name="explore">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}


  {{#contentFor "headerTitle"}}
    <h1 class="title">Explore</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

        {{#ionSlideBox}}
            {{#ionSlide class="positive-bg explore-slide-wrapper explore-slide-1"}}
                <h2 class="color-white-headline">Step Out</h2>
                <h2 class="color-white-headline">Explore World</h2>
                <h2 class="color-white-headline">Dare to be different</h2>
            {{/ionSlide}}
            {{#ionSlide class="dark-bg explore-slide-wrapper explore-slide-2"}}
                <h2 class="color-white-headline">Be Somebody</h2>
                <h2 class="color-white-headline">Explore Yourself</h2>
                <h2 class="color-white-headline">Dare to dream</h2>
            {{/ionSlide}}
            {{#ionSlide class="light-bg explore-slide-wrapper explore-slide-3"}}
                <h2 class="color-white-headline">
                    To see the world, <br>
                    things dangerous to come to, <br>
                    to see behind walls, <br>
                    draw closer, to find each other, <br>
                    and to feel.
                </h2>
            {{/ionSlide}}
        {{/ionSlideBox}}


        {{#each productCategories}}
          {{> _productCategoryTile productCategory=this}}
        {{/each}}


    {{/ionContent}}
  {{/ionView}}

</template>
